/* .navbar{ */
    /* position: absolute;
    left: 50%;
    transform: translatex(-50%); */
    nav{
        height: auto; /*Junto a overflow: hidden; aplicará a nuestro elemento nav el mismo alto que el más alto de sus elementos hijos */ 
        margin: auto; /* Centro el contenedor */
        /* overflow: hidden; */
        text-align:center;
        
        width: auto; /* Defino el ancho de mi página */
        position: absolute;}
  
/* } */